.boite
{
    width: 700px;
    transform: translate(50%,50%);
    position: relative;
}

.becarre 
{
    position: absolute;
    border: 1px solid black;
    width: 99px;
    height: 400px;
}

.becarre:hover
{
    background-color: orange;
}
.becarre:active
{
    background-color: red;
}

#re
{
    left: 100px;
}

#mi
{
    left: 200px;
}

#fa
{
    left: 300px;
}

#sol
{
    left: 400px;
}

#la
{
    left: 500px;
}

#si
{
    left: 600px;
}

.diese
{
    position: absolute;
    border: 1px solid black;
    width: 49px;
    height: 250px;
    background-color: black;
    left: 75px;
}

.diese:hover
{
    background-color: cyan;

}

.diese:active {
    background-color: red;
}

#res
{
    left: 175px;
}

#fas
{
    left: 375px;
}

#sols
{
    left: 475px;
}

#las
{
    left: 575px;
}

.la-diese {
    left: 999px; 
    width: 49px;
}
